:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey500: hsl(234, 12%, 34%);
  --grey400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --size-step--2: clamp(0.6944rem, 0.6916rem + 0.014vw, 0.7035rem);
  --size-step--1: clamp(0.8333rem, 0.8009rem + 0.1622vw, 0.9377rem);
  --size-step-0: clamp(1rem, 0.9223rem + 0.3883vw, 1.25rem);
  --size-step-1: clamp(1.2rem, 1.0551rem + 0.7243vw, 1.6663rem);
  --size-step-2: clamp(1.44rem, 1.1973rem + 1.2134vw, 2.2211rem);
  --size-step-3: clamp(1.728rem, 1.345rem + 1.9149vw, 2.9607rem);
  --size-step-4: clamp(2.0736rem, 1.4917rem + 2.9096vw, 3.9467rem);
  --size-step-5: clamp(2.4883rem, 1.6269rem + 4.3069vw, 5.2609rem);
  --flow-space: 10rem;
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1350,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
  color: var(--grey500);
  font-family: 'Poppins', sans-serif;
  font-size: var(--size-step-1);
  font-weight: 200;
  line-height: 1.4;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
}

header * {
  margin-bottom: 1rem;
}

h1, h2, h3 {
  line-height: 1;
  max-width: 50ch;
}

h1 {
  font-size: var(--size-step-5);
  font-weight: 200;
}

h2 {
  font-size: var(--size-step-4);
  font-weight: 600;
}

h2 + p {
  font-weight: 400;
  max-width: 60ch;
  margin-bottom: 0;
}

h3 {
  font-size: var(--size-step-3);
  font-weight: 400;
}

h3 + p {
  max-width: 65ch;
}

article {
  box-shadow: 0px 5px 15px -5px var(--grey400);
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

article img {
  align-self: flex-end;
  width: 5rem;
}

article :not(img) {
  margin-bottom: 1rem;
}

.sup {
  border-top: 5px solid var(--cyan);
}

.team {
  border-top: 5px solid var(--red);
}

.karma {
  border-top: 5px solid var(--orange);
}

.calc {
  border-top: 5px solid var(--blue);
}

footer {
  font-size: var(--size-step--2);
}

footer a {
  color: var(--grey500);
}

footer a:hover {
  color: var(--blue);
}