:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey500: hsl(234, 12%, 34%);
  --grey400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  min-height: 100vh;
  margin: 0 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Poppins';
  font-size: 15px;
  color: var(--grey500);
}

header {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  p {
    padding-top: 10px;
  }
}

h1 {
  font-weight: 200;
  font-size: 2.5em;
}

h2 {
  font-weight: 600;
  font-size: 2.4em;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 20px 1fr 1fr 20px 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
}

article {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 5px 15px -5px var(--grey400);
  padding: 15px;
  justify-content: space-between;
  aspect-ratio: 4 / 3;
  min-height: 150px;
}

.blurb {
  display: flex;
  flex-direction: column;
}

article img {
  width: 20%;
  align-self: flex-end;
}

.sup {
  border-top: 5px solid var(--cyan);
  grid-area: 3 / 1 / 6 / 3;
}

.team {
  border-top: 5px solid var(--red);
  grid-area: 1 / 4 / 4 / 6;
}

.karma {
  border-top: 5px solid var(--orange);
  grid-area: 5 / 4 / 8 / 6;
}

.calc {
  border-top: 5px solid var(--blue);
  grid-area: 3 / 7 / 6 / 9;
}

footer { 
  font-size: 11px; 
  text-align: center; 
}

footer a { 
  color: hsl(228, 45%, 44%); 
}